<h1>Thought Records</h1>
<% if @thought_records.any? %>
  <div class="card vstack">
    <% @thought_records.each do |thought_record| %>
      <p><%= link_to thought_record, path_for_thought_record(current_user, thought_record) %></p>
    <% end %>
  </div>
<% else %>
  <div class="card hstack hstack--card">
    <div>
      <h2>No Thought Records Yet!</h2>
      <p><%= @therapy.client %> has not shared any thought records yet.</p>
    </div>
    <div>
      <%= image_tag "illustrations/share.svg", alt: "Illustration of two people sharing", class: "illustration" %>
    </div>
  </div>
<% end %>
