<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
<% end %>

<div id="attachments" class="vstack">
  <h1>Files</h1>
    <%= form_with model: @therapy, url: therapy_attachments_path(@therapy), method: :post, id: "attachments_form" do |f| %>
      <%= render "form", f:, attachments: @attachments %>
    <% end %>

    <% if @attachments.any? %>
      <%= render "table", attachments: @attachments %>
    <% else %>
      <div class="card hstack hstack--card">
        <div>
        <h2>Upload files</h2>
        <% if current_user.client? %>
        <p>Share journal entries, progress trackers, artwork, or anything else that helps you express yourself and your journey.
        This can give your therapist deeper insights and make your sessions even more effective.</p>
        <% elsif current_user.therapist? %>
        <p>Easily exchange worksheets, helpful articles, or session summaries with your clients. Providing resources directly within the app streamlines your practice and supports your clients' growth between sessions.</p>
        <% end %>
        </div>
        <div>
        <%= image_tag "illustrations/attachments.svg", alt: "Illustration of attachments", class: "illustration" %>
        </div>
      </div>
    <% end %>
</div>
