<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
<% end %>

<div id="attachments" class="vstack">
  <h1>Files</h1>
    <%= form_with model: @therapy, url: therapy_attachments_path(@therapy), method: :post, id: "attachments_form" do |f| %>
      <%= render "form", f:, attachments: @attachments %>
    <% end %>

    <% if @attachments.any? %>
      <%= render "table", attachments: @attachments %>
    <% else %>
      <div class="card">
        <h2>Share & Grow: Attachments in Your Therapy Journey</h2>
        <%= image_tag "illustrations/attachments.svg", alt: "Illustration of attachments", class: "illustration" %>
        <p>Ready to enrich your therapy experience? Our attachments feature lets you securely share files directly within your therapy sessions.</p>
        <p><strong>For Clients:</strong> Share journal entries, progress trackers, artwork, or anything else that helps you express yourself and your journey. 
        This can give your therapist deeper insights and make your sessions even more effective.</p>
        <p><strong>For Therapists:</strong> Easily exchange worksheets, helpful articles, or session summaries with your clients. Providing resources directly within the app streamlines your practice and supports your clients' growth between sessions.</p>
      </div>
    <% end %>
</div>
