<h1>Therapy Agreement</h1>

<div>This agreement outlines the terms and conditions for therapy sessions conducted with <%= therapist.name %>.<br><br></div>

<div><strong>Confidentiality</strong></div>

<div>All information shared during therapy sessions will be kept strictly confidential, with the following exceptions:</div>
<ul>
  <li>Imminent risk of harm to self or others.</li>
  <li>Suspected child or elder abuse.</li>
  <li>Court order.</li>
</ul>

<div><br></div>

<div><strong>Session Fees and Payment</strong></div>
<div>The fee for each 50 minute session is £60.<br><br></div>
<div>Payment is due before the start of each session.<br><br></div>

<div><strong>Cancellation Policy</strong></div>
<div>Please provide at least 24 hours' notice for any cancellations or rescheduling. Sessions canceled with less than 24 hours' notice may be subject to the full session fee.<br><br></div>

<div><strong>Duration of Therapy</strong></div>
<div>The duration of therapy will be collaboratively determined based on your needs and goals.<br><br></div>

<div><strong>Contact Information</strong></div>
<div>For any questions or to reschedule, please contact <%= therapist.email %>.<br><br></div>

<div>By proceeding with therapy, you acknowledge that you have read, understood, and agree to the terms outlined in this agreement.</div>
