<% content_for :title, "Contracts" %>

<div class="action-header">
  <div>
    <h1>Contracts</h1>
  </div>
  <div>
    <%= link_to "Create a contract", new_contract_path, class: "btn" %>
  </div>
</div>

<% if @contracts.any? %>
<div id="contracts" class="card">
  <% @contracts.each do |contract| %>
    <p><%= link_to contract %></p>
  <% end %>
</div>
<% else %>
  <div class="card hstack hstack--card">
    <div>
      <h2>Need to set some groundrules?</h2>
      <p>Unlock a new level of clarity and agreement with your clients.</p>
      <p>Our Contracts feature allows you to create customized agreements to attach to your therapy invitations.</p>
      <p>This ensures both you and your clients are on the same page, fostering trust and a clear understanding of the therapeutic process.</p>
    </div>
    <div>
      <%= image_tag "illustrations/contract.svg", alt: "Illustration of a contract", class: "illustration" %>
    </div>
  </div>
<% end %>
