  <ul>
    <li>
      <%= link_to "Dashboard", root_path %>
    </li>
    <li>
      <%= link_to "Clients", therapist_clients_path(current_user) %>
    </li>
    <li>
      <%= link_to "Resources", root_path %>
    </li>
  </ul>
