  <ul>
    <li>
      <%= link_to "Clients", root_path %>
    </li>
    <li>
      <%= link_to "Resources", resources_path %>
    </li>
    <li>
      <%= link_to "Contracts", contracts_path %>
    </li>
  </ul>
