  <ul>
    <li>
      <%= link_to "Dashboard", root_path %>
    </li>
    <li>
      <%= link_to "Clients", clients_path %>
    </li>
    <li>
      <%= link_to "Therapies", therapies_path %>
    </li>
    <li>
      <%= link_to "Resources", root_path %>
    </li>
  </ul>
