<h1>Editing thought record</h1>

<%= form_with model: @thought_record, class: "vstack" do |form| %>
  <%= render "form", form: %>

  <div class="hstack">
    <div>
      <%= form.submit "Save", class: "btn" %>
    </div>
    <div>
      <%= link_to "Cancel", thought_record_path(@thought_record), class: "btn btn--secondary" %>
    </div>
  </div>
<% end %>

