<h1>Editing thought record</h1>

<%= render "form", thought_record: @thought_record %>

<br>

<div>
  <%= link_to "Show this thought record", @thought_record %> |
  <%= link_to "Back to thought records", thought_records_path %>
</div>
