<div class="action-header">
  <div>
    <h1>Thought Records</h1>
  </div>
  <div>
    <%= link_to "Create a thought record", new_thought_record_path, class: "btn" %>
  </div>
</div>

<% if @thought_records.any? %>
<div id="thought_records" class="card">
  <% @thought_records.each do |thought_record| %>
    <p><%= link_to thought_record, thought_record %></p>
  <% end %>
</div>
<% else %>
  <div class="card hstack hstack--card">
    <div>
      <h2>Need to Clear Your Mind?</h2>
      <p>Whether it's a fleeting worry or a persistent concern, documenting your thoughts helps you gain perspective and emotional control.</p>
      <p>For those working with a therapist, sharing your Thought Records can transform your sessions. It provides your therapist with a real-time window into your cognitive processes, fostering richer discussions and more effective strategies for your growth.</p>
    </div>
    <div>
      <%= image_tag "illustrations/thoughts.svg", alt: "Illustration of a woman thinking hard.", class: "illustration" %>
    </div>
  </div>
<% end %>
