<p style="color: green"><%= notice %></p>

<h1>Thought records</h1>

<div id="thought_records">
  <% @thought_records.each do |thought_record| %>
    <%= render thought_record %>
    <p>
      <%= link_to "Show this thought record", thought_record %>
    </p>
  <% end %>
</div>

<%= link_to "New thought record", new_thought_record_path %>
