<div class="action-header">
  <div>
    <h1>Thought Records</h1>
  </div>
  <div>
    <%= link_to "Create a thought record", new_thought_record_path, class: "btn" %>
  </div>
</div>

<% if @thought_records.any? %>
<div id="thought_records" class="card">
  <% @thought_records.each do |thought_record| %>
    <p><%= link_to thought_record, thought_record %></p>
  <% end %>
</div>
<% else %>
  <p>No thought records yet.</p>
<% end %>
