<p style="color: green"><%= notice %></p>

<h1>Thought Records</h1>

<ul id="thought_records">
  <% @thought_records.each do |thought_record| %>
    <li><%= link_to thought_record, thought_record %></li>
  <% end %>
</ul>

<%= link_to "New thought record", new_thought_record_path %>
