<h1>Create a thought record</h1>

<%= form_with model: @thought_record, class: "vstack" do |form| %>
  <%= render "form", form: %>

  <div class="hstack">
    <%= form.submit "Create thought record", class: "btn" %>
    <%= link_to "Cancel", thought_records_path, class: "btn btn--secondary" %>
  </div>
<% end %>
