<div class="vstack card">
  <%= image_tag "illustrations/done.svg", alt: "Illustration of a woman reading in a relaxed state.", class: "illustration" %>
  <h2>Looks like you're all caught up!</h2>
  <p>
    You have no new notifications or tasks at the moment. Feel free to explore other sections of the app or relax for a bit.
  </p>
</div>
