<div class="text-field">
  <%= form.label :email, class: "form-label" %>
  <%= form.email_field :email, class: "form-control" %>
</div>

<div class="password-field">
  <%= form.label :password, class: "form-label" %>
  <%= form.password_field :password, class: "form-control" %>
</div>