<% if current_user.is_a?(Individual) %>
  <p>Dashboard yet to be implemented for individual users.</p>
  <%= image_tag "avatar.png", alt: "Avatar", class: "avatar-foo" %>
  <%= image_tag "logo-sm.png", alt: "Avatar", class: "nav-logo" %>
<% else %>
  <%= render "therapists/dashboard" %>
<% end %>
