<p>Dear Sir/Madam,</p>

<p>Your therapist <%= @invitation.inviter.name %> has invited you to set up an account on Reflet</p>

<p>Click on the link below to create your account:</p>

<p><%= link_to "Create your account", new_registration_url(
  invitation_id: @invitation.id,
) %>
</p>
