<p>Hi there,</p>

<p>Your therapist <%= @invitation.inviter.name %> has invited you to set up an account on Reflet.</p>

<p>Reflet is a secure platform that allows you to communicate with your therapist, access your therapy materials,
and track your progress.</p>

<p>Click on the link below to create your account:</p>

<p><%= link_to "Create your account", new_registration_url(
  invitation_id: @invitation.id,
) %>
</p>

<p>Many thanks,<br>
The Reflet team</p>
