<nav>
  <% if current_user.is_a?(Individual) %>
    <%= render "individuals/navbar" %>
  <% elsif current_user.is_a?(Therapist) %>
    <%= render "therapists/navbar" %>
  <% end %>
  <ul>
    <li>
      <%= link_to current_user, user_path(current_user) %>
    </li>
    <li>
      <%= button_to "Log out", session_path, method: :delete %>
    </li>
  </ul>
</nav>
