<nav>
  <ul>
    <li>
      <%= link_to "Dashboard", root_path %>
    </li>
    <li>
      <%= link_to current_user.email, users_path %>
    </li>
    <li>
      <%= button_to "Log out", session_path, method: :delete %>
    </li>
  </ul>
</nav>
