<h1>Editing invitation</h1>

<%= form_with model: @invitation do |f| %>
  <%= render "form", invitation: @invitation, f: %>
<% end %>

<br>

<div>
  <%= link_to "Show this invitation", @invitation %> |
  <%= link_to "Back to invitations", invitations_path %>
</div>
