<p>Dear Reflet Team,</p>

<p>A new user has registered on Reflet:</p>

<p>Name: <strong><%= @user.name %></strong></p>
<p>Email: <strong><%= @user.email %></strong></p>
<p>Type: <strong><%= @user.type %></strong></p>

<p>Keep up the great work!</p>
