<%= render "questionnaire", questionnaire: @questionnaire %>

<% if current_user.therapies.any? %>
<h2>Create an assignment</h2>
<%= form_with model: @assignment, url: assign_questionnaire_path(@questionnaire) do |f| %>
  <%= render "assignments/form", f: f %>
<% end %>
<% end %>
