<div id="<%= dom_id therapy %>" class="container therapy-summary">
  <%= relation(current_user, therapy) %>

  <p>
    <strong>Started:</strong>
    <%= therapy.started_date %>
  </p>

  <% if therapy.completed_at.present? %>
    <p>
      <strong>Completed at:</strong>
      <%= therapy.completed_at %>
    </p>
  <% end %>
</div>
