<p style="color: green"><%= notice %></p>

<h1>Therapies</h1>

<div id="therapies">
  <% @therapies.each do |therapy| %>
    <%= render therapy %>
    <p>
      <%= link_to "Show this therapy", therapy %>
    </p>
  <% end %>
</div>

<%= link_to "New therapy", new_therapy_path %>
