<% needs_record.ratings.map(&:status).uniq.each do |status| %>
  <h3><%= status.humanize %></h3>
  <div class="card needs-record-summary">
    <% needs_record.ratings.where(status:).each do |rating| %>
      <div class="need <%= need_color_class(rating) %>"><%= rating.need %></div>
    <% end %>
  </div>
<% end %>
