<h1>Editing report</h1>

<%# <%= render "form", report: @report %1> %>

<br>

<div>
  <%# <%= link_to "Show this report", @report %1> | %>
  <%# <%= link_to "Back to reports", reports_path %1> %>
</div>
