<p style="color: green"><%= notice %></p>

<div class="action-header">
  <div>
    <h1>Needs Records</h1>
  </div>
  <div>
    <%= render "needs_records/form" %>
  </div>
</div>

<div id="needs_records" class="card">
  <% @needs_records.each do |needs_record| %>
    <p><%= link_to needs_record, needs_record %></p>
  <% end %>
</div>

