<h1>Edit note</h1>
<div class="vstack">
  <div>
    <%= form_with model: @note, url: therapy_note_path(@therapy, @note), class: "vstack" do |f| %>
      <%= render "form", f: %>
      <div class="hstack">
        <%= f.submit "Update note", class: "btn" %>
        <%= link_to "Cancel", therapy_note_path(@therapy, @note), class: "btn btn--secondary" %>
      </div>
    <% end %>
  </div>
</div>
