<div class="action-header">
  <div>
  <h1>Notes</h1>
  </div>
  <div>
    <%= link_to "Create a note", new_therapy_note_path(@therapy), class: "btn" %>
  </div>
</div>
<div>
  <% if @notes_by_month.present? %>
    <div class="card">
      <% @notes_by_month.each do |month, notes| %>
        <h2><%= month %></h2>
        <% notes.each do |note| %>
          <p><%= link_to note, therapy_note_path(@therapy, note) %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
