<div class="action-header">
  <div>
  <h1>Notes</h1>
  </div>
  <div>
    <%= link_to "Create a note", new_therapy_note_path(@therapy), class: "btn" %>
  </div>
</div>
<div>
  <% if @notes_by_month.present? %>
    <div class="card">
      <% @notes_by_month.each do |month, notes| %>
        <h2><%= month %></h2>
        <% notes.each do |note| %>
          <p><%= link_to note, therapy_note_path(@therapy, note) %></p>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="card">
      <h2>Your Session Notes</h2>
      <%= image_tag "illustrations/notes.svg", alt: "Illustration of notes", class: "illustration" %>
      <p>This is where you'll find all your notes after you've created them.</p>
      <p>To get started, click the 'Create a note' button to write up notes during or following a session with a client.</p>
    </div>
  <% end %>
</div>
