<h1>Create a note</h1>
<div class="vstack">
  <div>
    <%= form_with model: @note, url: therapy_notes_path(@therapy), class: "vstack" do |f| %>
      <%= render "form", f: %>
      <div class="hstack">
        <%= f.submit "Create note", class: "btn" %>
        <%= link_to "Cancel", therapy_path(@therapy), class: "btn btn--secondary" %>
      </div>
    <% end %>
  </div>
</div>
