@import 'variables';

body {
  font-family: $font-stack;
  background-color: $bg-color;
}

a {
  text-decoration: underline;
  color: #000;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.container-small {
  max-width: $container-width__small;
  margin: 0 auto;
}
