.btn {
  font-family: var(--font-stack);
  background-color: var(--accent-blue);
  font-size: 1em;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px 10px;
  font-style: italic;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: #001829;
  }

  .btn--secondary& {
    background-color: #E0E0E0;
  }

  .btn--destructive& {
    background-color: var(--accent-red);
  }
}

.btn--transparent {
    background: none;
    background-color: none;
    border: none;
    padding: 5px;
    border: 1px solid white;

    &:hover {
      border: 1px solid grey;
      border-radius: 5px;
    }
  }
