.btn {
  font-family: var(--font-stack);
  background-color: var(--bg-green);
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    background-color: #007A00;
  }

  .btn--secondary& {
    background-color: var(--accent-grey);
    color: white;

    &:hover {
      background-color: #88786D;
    }
  }

  .btn--destructive& {
    background-color: var(--bg-red);

    &:hover {
      background-color: #CC0000;
    }
  }
}

.btn--transparent {
  background: none;
  background-color: none;
  border: none;
  padding: 5px;
  border: 1px solid white;

  &:hover {
    border: 1px solid grey;
    border-radius: 5px;
  }
}

.btn--block {
  width: 250px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0;
  display: inline-block;
}
