@font-face {
  font-family: var(--font-stack);
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: var(--font-stack);
}

a {
  color: #000;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-small {
  max-width: var(--container-width__small);
  margin: 0 auto;
}

.page-content {
  margin-bottom: 20px;
}

.screen-reader-text {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.w-100 {
  width: 100%;
}

.large-text {
  font-size: 18px;
}

.text-decoration-none {
  text-decoration: none !important;
}

.hidden {
  display: none;
}

.page-notice {
  background-color: var(--accent-orange);
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid black;
  font-weight: bold;
}
