@font-face {
  font-family: "Palatino";
  src: url("/fonts/Palatino.woff2") format("woff2");
}

@font-fact {
  font-family: "Bogart Trial";
  src: url("/fonts/Bogart-Regular-trial.woff2") format("woff2");
}

h1, h2, h3, h4 {
  font-family: "Bogart Trial", sans-serif;
  font-weight: 500;
}


body {
  font-family: Palatino, sans-serif;
  background-color: var(--bg-color);
  margin: 0;
}

a {
  text-decoration: underline;
  color: #000;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.container-small {
  max-width: var(--container-width__small);
  margin: 0 auto;
}

.screen-reader-text {
   clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.w-100 {
  width: 100%;
}

.large-text {
  font-size: 18px;
}

.text-decoration-none {
  text-decoration: none !important;
}
