.notice {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  z-index: 1000;
  background-color: var(--accent-green);
  padding: 10px;
  border: 1px solid black;
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 1; } /* Keep visible for 4.5 seconds */
  100% { opacity: 0; visibility: hidden; }
}
