.hstack {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  .card& {
    justify-content: space-between;
    align-items: start;

    p {
      max-width: 400px;
    }
  }
}
