.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border: 1px solid black;
  background-color: white;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.nav-container {
  margin: 20px 0;
}

.nav-expand {
  display: flex;
  align-items: center;

  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;

  &:hover {
    cursor: pointer;
  }

  a { 
    text-decoration: none;
  }
  
  * {
    user-select: none;
    pointer-events: none;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.nav-logo {
  height: 40px;
  padding-right: 10px;
}

.nav-dropdown {
  position: absolute;
  background-color: white;
  border: lightgrey 1px solid;
  padding: 10px;
  border-radius: 10px;
  min-width: 60px;
  text-align: center;
  box-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}
