.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        padding: 10px;

        &:hover {
          background-color: #eee;
          color: blue;
          border-radius: 10px;
        }
      }
    }
  }
}

.nav-container {
  margin: 20px 0;
}

.nav-expand {
  &:hover {
    cursor: pointer;
  }

  a { 
    text-decoration: none;
  }
  
  * {
    user-select: none;
    pointer-events: none;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.nav-logo {
  height: 40px;
  padding-right: 10px;
}

.nav-dropdown {
  position: absolute;
  background-color: white;
  border: lightgrey 1px solid;
  padding: 10px;
  border-radius: 10px;
  min-width: 60px;
  box-shadow: 
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
}
