.need {
  padding: 5px 10px;
  margin: 5px;
  background-color: grey;
  border-radius: 10px;
  border: 1px solid;
}

.need--rare {
  background-color: #FFD6D6;
}

.need--sometimes {
  background-color: #FEE7D7;
}

.need--consistent {
  background-color: #D6FFD6;
}
