.need {
  padding: 5px 10px;
  margin: 5px;
  background-color: grey;
  border-radius: 10px;
  border: 1px solid;
}

.need--rare {
  background-color: var(--accent-red);
}

.need--sometimes {
  background-color: var(--accent-orange);
}

.need--consistent {
  background-color: var(--accent-green);
}

.needs-record-summary {
  display: flex;
  flex-wrap: wrap;
  background: none;
}
