.therapy-summary {
  background-color: white;
  padding: 10px;
  width: 100%;
}

.therapy-nav {
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  align-self: flex-start;
  width: max-content;
  font-weight: 500;
}

.therapy-nav-link {
  padding: 10px;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 10px;
  }

  .icon {
    margin-right: 3px;
  }

}

.therapy-nav-link-active {
  background-color: white;
  border-radius: 15px;
}
