.therapy-summary {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.therapy-nav-link {
  padding: 10px;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 10px;
  }

  border: 1px solid black;
  background-color: lightgrey;
}

.therapy-nav-link-active {
  background-color: white;
}
