.validation-error {
  background-color: var(--accent-red);
  border: 1px solid var(--text-red);
  color: var(--text-red);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;

  .validation-title {
    font-weight: bold;
  }
}
