:root {
  --bg-color: #eee;
  --accent-blue: #c2e7ff;
  --accent-green: #00A300;
  --accent-red: #E00000;
  --accent-orange: #FEE7D7;
  --accent-grey: #707070;
  --text-red: #290000;
  --text-green: #002900;
  --highlight: #fd0;
  --font-stack: "Playfair Display", "Times New Roman", serif;
  --container-width: 800px;
  --container-width__small: 400px;
}
