:root {
  --bg-color: #eee;
  --accent-blue: #c2e7ff;
  --accent-green: #ADFFAD;
  --accent-red: #FFADAD;
  --accent-orange: #FEE7D7;
  --accent-grey: #707070;
  --accent-grey: #ADA199;
  --bg-green: #008F00;
  --text-red: #290000;
  --text-green: #002900;
  --text-blue: #A0C4FF;
  --text-secondary: #707070;
  --highlight: #fd0;
  --bg-red: #E00000;
  --bg-blue: #E9F1F7;
  --font-stack: "Outfit", "Helvetica", sans-serif;
  --font-sans: "Open Sans", "Arial", sans-serif;
  --container-width: 800px;
  --container-width__small: 400px;
}
