:root {
  --bg-color: #eee;
  --accent-blue: #c2e7ff;
  --accent-red: #FFD6D6;
  --text-red: #290000;
  --highlight: #fd0;
  --font-stack: "Playfair Display", "Times New Roman", serif;
  --container-width: 800px;
  --container-width__small: 400px;
}
