<h1>Needs Records</h1>

<% if @needs_records.any? %>
  <div class="card">
    <% @needs_records.each do |needs_record| %>
      <p><%= link_to needs_record, path_for_needs_record(current_user, needs_record) %></p>
    <% end %>
  </div>
<% else %>
  <div class="card">
    <h2>No Needs Records Yet!</h2>
    <%= image_tag "illustrations/share.svg", alt: "Illustration of two people sharing", class: "illustration" %>
    <p><%= @therapy.client %> has not shared any needs records yet.</p>
  </div>
<% end %>
