<h1>Needs Records</h1>

<% if @needs_records.any? %>
  <div class="card">
    <ul>
      <% @needs_records.each do |needs_record| %>
        <li><%= link_to needs_record, path_for_needs_record(current_user, needs_record) %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p><%= @therapy.client %> has not shared any needs records.</p>
<% end %>
