<h1>Needs Records</h1>

<% if @needs_records.any? %>
  <div class="card">
    <% @needs_records.each do |needs_record| %>
      <p><%= link_to needs_record, path_for_needs_record(current_user, needs_record) %></p>
    <% end %>
  </div>
<% else %>
  <div class="card hstack hstack--card">
    <div>
    <h2>No Needs Records Yet!</h2>
    <% if current_user.therapist? %>
      <p><%= @therapy.client %> has not shared any needs records yet.</p>
    <% elsif current_user.client? %>
      <p>Share your needs records with your therapist to help them understand your current situation and provide better support.</p>
    <% end %>
    </div>
    <div>
    <%= image_tag "illustrations/share.svg", alt: "Illustration of two people sharing", class: "illustration" %>
    </div>
  </div>
<% end %>
