<h2><%= report %></h2>

<% unless report.completed? %>
  <p>This report isn't finished yet.</p>

  <p><%= link_to "Continue", report_path(report), class: "btn" %></p>
<% end %>

<%= render "reports/report", report: %>
